---
layout: default
permalink: cv
---

<section>
        <h2>Interests</h2>
        <div id="navcontainer">
            <ul>{% for interest in site.interests %}
                <li>{{ interest }}</li>
                {% endfor %}
            </ul>
        </div>
</section>
<section>
    <h2>Skills</h2>
    <div id="navcontainer">
        <ul>{% for skill in site.skills %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    </div>
</section>

<section>
        <h2>Academic Achievements</h2>
        <h4>University</h4>
        <div id="navcontainer">
            <ul>{% for ach in site.academic_achievements_university %}
                <li>{{ ach }}</li>
                {% endfor %}
            </ul>
        </div>
        <h4>High School</h4>
        <div id="navcontainer">
            <ul>{% for ach in site.academic_achievements_high_school %}
                <li>{{ ach }}</li>
                {% endfor %}
            </ul>
        </div>
</section>
<section>
    <h2>Work Experience</h2>
    <div id="experience">
        {% for exp in site.work_experience %}
        <h3>{{exp.title}}</h3>
        <i>{{exp.loc}}, {{exp.when}}</i>
        <p>{{exp.desc}}<p>
        <br>
        {% endfor %}
    </div>
</section>
