---
layout: default
permalink: projects
---

<section>
    
    <h1>
    Projects
    </h1>
    
    <div class="grid t-hackcss-cards">
        
        {% for project in site.projects %}
        
        <div class="cell -6of12 t-hackcss-cards-cell">
            <div class="card">
                <header class="card-header">{{ project.name }}</header>
                <div class="card-content">
                    <div class="inner">
                        
                        <div class="card-image">
                            {% if project.image %}
                            <img src="{{ project.image }}" class="t-hackcss-cards-image"
                            alt="{{ project.name }}"
                            title="{{ project.name }}" />
                            {% endif %}
                        </div>
                        
                        
                        <p class="t-hackcss-cards-text">{{ project.description }}</p>
                        
                        {% if project.link %}
                        <p class="t-hackcss-cards-link">
                        <a href="{{ project.link }}" title="Learn more" target="_blank">
                            {{ "Learn more" }}
                        </a>
                        </p>
                        {% endif %}
                        {% if project.link_video %}
                        <p class="t-hackcss-cards-link">
                        <a href="{{ project.link }}" title="Watch" target="_blank">
                            {{ "Watch" }}
                        </a>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
        {% endfor %}
        
    </div>
</section>
